body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.App {
    text-align: center;
}

header {
    background-color: #282c34;
    color: white;
    padding: 20px 0;
    font-size: 1.5rem;
}

nav {
    margin: 10px 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #282c34;
    color: white;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%
}

footer p {
    margin: 0;
}

.project {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}

/* Portfolio Section Styling */
section {
    margin: 2rem;
  }
  
  section > div {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1rem;
      margin-top: 1rem;
  }
  
  .project {
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .project img {
      max-width: 100%;
      height: auto;
      display: block;
  }
  
  .project h3 {
      margin: 0.5rem 1rem;
  }
  
  .project a {
      text-decoration: none;
      padding: 0.5rem 1rem;
      color: #2a7ae2;
      display: block;
      border-top: 1px solid #ddd;
  }

.headshot {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.error {
    color: red;
    margin-top: 0.5rem;
}

footer {
    width: 100%;
    padding: 1rem 0;
    background-color: #333; 
    color: white;
    text-align: center;
    position: fixed; 
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    max-height: 30px;
    margin: 0 10px; 
}

.resume-section {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
  }

  .resume-download-link {
    background-color: #007bff; 
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
    transition: background-color 0.3s ease;
  }

  .resume-download-link:hover {
    background-color: #0056b3; 
  }

  .proficiencies {
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-top: 20px;
  }

  .proficiencies .front-end,
.proficiencies .back-end {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.proficiencies ul {
    list-style-type: none; 
    padding: 0;
  }

  .proficiencies li {
    padding: 5px 0;
  }

  .proficiencies li::before {
    content: '•'; 
    color: #007bff; 
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  .content-padding {
    padding-bottom: 60px; 
  }