body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.App {
    text-align: center;
}

header {
    background-color: #282c34;
    color: white;
    padding: 20px 0;
    font-size: 1.5rem;
}

nav {
    margin: 10px 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #282c34;
    color: white;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%
}

footer p {
    margin: 0;
}

.project {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}

/* Portfolio Section Styling */
section {
    margin: 2rem;
  }
  
  section > div {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1rem;
      margin-top: 1rem;
  }
  
  .project {
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .project img {
      max-width: 100%;
      height: auto;
      display: block;
  }
  
  .project h3 {
      margin: 0.5rem 1rem;
  }
  
  .project a {
      text-decoration: none;
      padding: 0.5rem 1rem;
      color: #2a7ae2;
      display: block;
      border-top: 1px solid #ddd;
  }
